#logoimage {
 width:200px;
}

.navtest{
  font-size:25px;
  vertical-align: baseline;
  background-color:lightgrey;
}

body {
  margin: 50px;
  background-color:#f5eace;
}

.wrapper {
  display: grid;
  grid-template-columns: 600px 600px 600px;
  grid-gap: 10px;
  background-color: #f5eace;
  color: #444;
  justify-items: center;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  width:500px;
  height:300px;
}

img {
  width:400px
}

li {
  display: inline;
}
